<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WTF should I do tonight?</title>
    <link rel="stylesheet" href="reset.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <h1>What should I do tonight?</h1>
    </header>
    <main>
      <h2>How about...</h2>
      <div class="what-to-do">
        <%= idea %>
        <% @catpics.each do |cat| %>
          <img src="<%= cat.url %>" alt="Cat pic">
        <% end %>
      </div>
      <button type="reset" name="new-idea">Nah...</button>
    </main>
    <footer>
      <p>
        Developed by and for Katie Fritz, <%= current_year %></p>
    </footer>
  </body>
</html>
