/**********************
* TYPOGRAPHY
***********************/
body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  font-size: 150%;
  font-weight: bold;
}

h2 {
  font-size: 120%;
  font-weight: bold;
}

/****************************
* LAYOUT
****************************/
body {
  max-width: 600px;
  margin: 20px auto;
}

header {
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.what-to-do {
  padding: 100px 50px;
  margin: 50px 0px;
  background-color: #ebebeb;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

footer {
  padding: 20px;
  bottom: 0;
  position: fixed;
  text-align: center;
  font-style: italic;
}

button {
  padding: 10px 20px;
  background-color: #ebebeb;
  border: 2px solid #555;
  font-weight: bold;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

button:hover {
  background-color: #ccc;
}
